<template>
  <Dash class="bg" />
</template>

<script>
// @ is an alias to /src
import Dash from "@/components/Dash.vue";

export default {
  name: "Home",
  components: {
    Dash
  }
};
</script>

<style>
.bg {
  min-width: 100%;
  min-height: 100%;
  //background: url("~@/assets/bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #23272a;
}
</style>
