<template>
  <v-container>
    <v-row justify="center">
      <v-col class="col-2 pb-0">
        <h1 style="color: #f6c90e ;margin-bottom: -10px;">
          GRAPH<span style="color: #eeeeee">EDIT</span>
        </h1>
        <div
          style="height: 40px; width: 300px; background-color: #303437; margin-top: -40px; margin-left: 30px;"
        ></div>
        <v-slider
          class="mt-4"
          v-model="size"
          color="#f6c90e"
          label="Knoten"
          :thumb-size="16 + size"
          min="2"
          max="16"
          dark
          thumb-label
          ticks="always"
          tick-size="4"
          @change="reload()"
        ></v-slider>
      </v-col>
      <v-col class="col-8"> </v-col>
      <v-col class="col-8 pt-0">
        <v-card class="pa-6 pt-1" color="#303437">
          <v-row>
            <v-col class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h2>Adjazenzmatrix</h2>
              <div
                style="background-color: #f6c90e; width: 170px; height: 5px; margin-top: -5px; margin-bottom: 15px"
              ></div>

              <v-simple-table class="nothover" dark>
                <tbody>
                  <tr :key="row" v-for="row in adjazenzmatrix.length">
                    <td
                      :key="col"
                      v-for="col in adjazenzmatrix[0].length"
                      @click="changeadj(row, col)"
                    >
                      <span
                        style="color: #f6c90e"
                        v-if="adjazenzmatrix[row - 1][col - 1] == 1"
                        >{{ adjazenzmatrix[row - 1][col - 1] }}</span
                      >
                      <span v-else>{{ adjazenzmatrix[row - 1][col - 1] }}</span>
                    </td>
                  </tr>
                </tbody>
              </v-simple-table>
            </v-col>
            <v-col class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h2>Distanzmatrix</h2>
              <div
                style="background-color: #f6c90e; width: 155px; height: 5px; margin-top: -5px; margin-bottom: 15px"
              ></div>

              <v-simple-table class="nothover" dark>
                <tbody>
                  <tr :key="row" v-for="row in distanzmatrix.length">
                    <td
                      :key="col"
                      style="color: #eee; text-align: center"
                      v-for="col in distanzmatrix[0].length"
                    >
                      <span
                        style="color: #f6c90e"
                        v-if="distanzmatrix[row - 1][col - 1] > 0"
                        >{{ distanzmatrix[row - 1][col - 1] }}</span
                      >
                      <span v-else>{{ distanzmatrix[row - 1][col - 1] }}</span>
                    </td>
                  </tr>
                </tbody>
              </v-simple-table>
            </v-col>
            <v-col class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h2>Wegmatrix</h2>
              <div
                style="background-color: #f6c90e; width: 120px; height: 5px; margin-top: -5px; margin-bottom: 15px"
              ></div>

              <v-simple-table class="nothover" dark>
                <tbody>
                  <tr :key="row" v-for="row in wegmatrix.length">
                    <td :key="col" v-for="col in wegmatrix[0].length">
                      <span
                        style="color: #f6c90e"
                        v-if="wegmatrix[row - 1][col - 1] > 0 && row != col"
                        >{{ wegmatrix[row - 1][col - 1] }}</span
                      >
                      <span v-else>{{ wegmatrix[row - 1][col - 1] }}</span>
                    </td>
                  </tr>
                </tbody>
              </v-simple-table>
            </v-col>
          </v-row>
        </v-card>
        <v-card
          class="pa-10 pb-0 pt-4 mt-6"
          color="#303437"
          style="width: 100%; height: auto; color: #eee"
        >
          <v-row>
            <v-col class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <h2>Zentrum</h2>
              <div
                style="background-color: #f6c90e; width: 92px; height: 5px; margin-top: -5px; margin-bottom: 15px"
              ></div>
              <div v-if="this.rad != 0 && this.durch != 0">
                <div
                  class="mt-3 mb-3"
                  style="float: left"
                  :key="kn"
                  v-for="kn in knoten"
                >
                  <span
                    v-if="kn.center == true"
                    style="background-color: #23272A;"
                    class="mr-3  pa-2 px-4"
                  >
                    <span> Knoten {{ kn.nr + 1 }}</span>
                  </span>
                </div>
              </div>

              <v-skeleton-loader
                v-else
                class="mx-auto"
                type="list-item-three-line"
                dark
              ></v-skeleton-loader>
            </v-col>
            <v-col class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
              <h2>Komponenten</h2>
              <div
                style="background-color: #f6c90e; width: 92px; height: 5px; margin-top: -5px; margin-bottom: 15px"
              ></div>

              <v-skeleton-loader
                v-if="clicks == 0"
                class="mx-auto"
                type="list-item-three-line"
                dark
              ></v-skeleton-loader>

              <canvas :style="'margin-top:' + mtop" :height="h" id="c"></canvas>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col class="col-2">
        <v-card
          class="pa-10 pt-4"
          color="#303437"
          style="width: 100%; height: auto; color: #eee"
        >
          <h2>Exzentrizitäten</h2>
          <div
            style="background-color: #f6c90e; width: 165px; height: 5px; margin-top: -5px; margin-bottom: 15px"
          ></div>

          <v-simple-table dark>
            <template v-slot:default>
              <tbody>
                <tr :key="kn" v-for="kn in knoten">
                  <td>Knoten {{ kn.nr + 1 }} :</td>

                  <td style="color: #f6c90e" v-if="kn.exzent > 0">
                    {{ kn.exzent }}
                  </td>
                  <td style="color: #eeeeee" v-if="kn.exzent == 0">
                    {{ kn.exzent }}
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>

          <h2 class="mt-6">Radius und Durchmesser</h2>
          <div
            style="background-color: #f6c90e; width: 150px; height: 5px; margin-top: -5px; margin-bottom: 15px"
          ></div>
          <p style="background-color: #23272A;" class="pa-2 mr-3 px-4">
            Radius: <span style="color: #f6c90e">{{ rad }}</span>
          </p>
          <p style="background-color: #23272A;" class="pa-2 mr-3 px-4">
            Durchmesser: <span style="color: #f6c90e">{{ durch }}</span>
          </p>
        </v-card>
      </v-col>
    </v-row>
    <div style="text-align: center">
      <p style="font-size: 13px; color: #eee; margin-top: 50px;">
        Ein Projekt von
        <span class="font-weight-bold"
          >JULIAN <span style="color:#f6c90e;">HAUGENEDER</span></span
        >
      </p>
      <div
        style="background-color: #f6c90e; width: 220px; height: 5px; margin: auto;margin-top: -15px"
      ></div>
    </div>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      size: 4,
      adjazenzmatrix: [],
      distanzmatrix: [],
      wegmatrix: [],
      potenzmatrix: [],
      center: [],
      knoten: [],
      rad: 0,
      durch: 0,
      komponenten: [],
      kompcount: 0,
      vueCanvas: null,
      h: "",
      clicks: 0,
      mtop: "-88px"
    };
  },

  methods: {
    creatematrix: function(type, matrix) {
      for (let row = 0; row < this.size; row++) {
        matrix.push([]);
        for (let col = 0; col < this.size; col++) {
          if (type == "adj") {
            matrix[row][col] = 0;
            matrix[row][row] = 1;
          } else if (type == "dist") {
            matrix[row][col] = -1;
            matrix[row][row] = 0;
          } else if (type == "weg") {
            matrix[row][col] = 0;
            matrix[row][row] = 1;
          } else {
            matrix[row][col] = 0;
          }
        }
      }
      return matrix;
    },

    g_multiply: function(input1, input2) {
      let tmp = [];
      tmp = this.creatematrix("none", tmp);

      for (let row = 0; row < this.size; row++) {
        for (let col = 0; col < this.size; col++) {
          let sum = 0;

          for (let i = 0; i < this.size; i++) {
            let rowvalue = input1[row][i];
            let colvalue = input2[i][col];
            sum += rowvalue * colvalue;
          }
          tmp[row][col] = sum;
          tmp[col][row] = sum;
        }
      }

      return tmp;
    },

    changeadj(row, col) {
      if (this.adjazenzmatrix[row - 1][col - 1] == 0) {
        this.adjazenzmatrix[row - 1][col - 1] = 1;
        this.adjazenzmatrix[col - 1][row - 1] = 1;
      } else {
        this.adjazenzmatrix[row - 1][col - 1] = 0;
        this.adjazenzmatrix[col - 1][row - 1] = 0;
      }

      this.clicks++;
      this.mtop = "0px";
      this.potentiate();
      this.exzent();
      this.getcenter();
      this.drawComps();
    },

    potentiate: function() {
      let tmppot = this.adjazenzmatrix;

      for (let i = 0; i < this.size; i++) {
        tmppot = this.g_multiply(this.adjazenzmatrix, tmppot);
        for (let row = 0; row < this.size; row++) {
          for (let col = 0; col < this.size; col++) {
            let pV = tmppot[row][col];
            let aV = this.adjazenzmatrix[row][col];
            let dV = this.distanzmatrix[row][col];

            if ((aV == 1) | (pV > 0) | (row == col)) {
              this.wegmatrix[row][col] = 1;
              this.wegmatrix[col][row] = 1;
            } else {
              this.wegmatrix[row][col] = 0;
              this.wegmatrix[col][row] = 0;
            }

            if (aV == 1) {
              this.distanzmatrix[row][col] = 1;
              this.distanzmatrix[col][row] = 1;
            } else if ((dV == -1 && pV > 0) || (dV > i + 2 && pV > 0)) {
              this.distanzmatrix[col][row] = i + 2;
              this.distanzmatrix[row][col] = i + 2;
            } else if (this.wegmatrix[row][col] == 0) {
              this.distanzmatrix[row][col] = -1;
              this.distanzmatrix[col][row] = -1;
            }

            if (row == col) {
              this.distanzmatrix[row][col] = 0;
              this.distanzmatrix[col][row] = 0;
            }
          }
        }
      }
    },

    exzent: function() {
      let radunddurcharray = [];

      this.knoten.splice(0, this.knoten.length);
      this.fillknoten();

      for (let row = 0; row < this.size; row++) {
        let max = 0;
        for (let col = 0; col < this.size; col++) {
          let val = this.distanzmatrix[row][col];
          if (val == 0) {
            this.knoten[row].exzent = max;
            radunddurcharray[row] = max;
          }
          if (val > max) {
            max = val;
            this.knoten[row].exzent = max;
            radunddurcharray[row] = max;
          }
        }
      }

      this.durch = Math.max(...radunddurcharray);
      this.rad = Math.min(...radunddurcharray);

      console.log(radunddurcharray);
    },

    getcenter: function() {
      for (let row = 0; row < this.size; row++) {
        if (this.knoten[row].exzent == this.rad && this.rad != 0) {
          this.knoten[row].center = true;
        }
      }
    },

    fillknoten: function() {
      this.kompcount = 0;
      this.komponenten = [];

      let placeholder = {
        nr: 999,
        exzent: 0,
        adjazenteknoten: [],
        center: false,
        checked: false
      };

      for (let i = 0; i < this.size; i++) {
        this.knoten[i] = {
          nr: i,
          exzent: 0,
          adjazenteknoten: [],
          center: false,
          checked: false
        };
      }
      for (let row = 0; row < this.size; row++) {
        for (let col = 0; col < this.size; col++) {
          if (this.adjazenzmatrix[row][col] == 1 && row != col) {
            this.knoten[row].adjazenteknoten.push(this.knoten[col]);
          } else {
            this.knoten[row].adjazenteknoten.push(placeholder);
          }
        }
      }

      for (let row = 0; row < this.size; row++) {
        if (this.knoten[row].checked != true) {
          this.komponenten.push([]);
          this.komponenten[this.kompcount].push(this.knoten[row]);
          this.knoten[row].checked = true;

          this.checkkomponenten(this.knoten[row], this.kompcount);

          this.kompcount++;
        }
      }

      console.log("Komponenten:");
      console.log(this.komponenten);
      console.log(this.komponenten.length);
      console.log("Knoten:");
      console.log(this.knoten);
    },

    drawComps: function() {
      this.vueCanvas.font = "9px Arial";
      this.vueCanvas.lineWidth = 1;
      this.vueCanvas.clearRect(0, 0, 1000, 2000);

      let x = 15;
      let y = 1;

      this.vueCanvas.beginPath();
      this.vueCanvas.moveTo(x - 15, y);
      this.vueCanvas.lineTo(x + 600, y);
      this.vueCanvas.strokeStyle = "#23272A";
      this.vueCanvas.stroke();
      y += 20;

      for (let i = 0; i < this.komponenten.length; i++) {
        for (let j = 0; j < this.komponenten[i].length; j++) {
          console.log("wir sind in komp " + i + "und in knoten " + j);
          console.log(x + " " + y);
          this.vueCanvas.beginPath();
          this.vueCanvas.arc(x, y, 11, 0, 2 * Math.PI);
          this.vueCanvas.fillStyle = "#23272A";
          this.vueCanvas.fill();
          this.vueCanvas.beginPath();
          this.vueCanvas.fillStyle = "#eee";
          this.vueCanvas.fillText(this.komponenten[i][j].nr + 1, x - 3, y + 3);
          x += 40;
        }
        x = 15;
        this.vueCanvas.beginPath();
        this.vueCanvas.moveTo(x - 15, y + 20);
        this.vueCanvas.lineTo(x + 600, y + 20);
        this.vueCanvas.strokeStyle = "#23272A";
        this.vueCanvas.stroke();

        y += 40;
      }
    },

    checkkomponenten: function(knoten, inputcount) {
      for (let row = 0; row < this.size; row++) {
        if (
          knoten.adjazenteknoten[row].checked != true &&
          knoten.adjazenteknoten[row].nr != 999
        ) {
          this.komponenten[inputcount].push(knoten.adjazenteknoten[row]);
          knoten.adjazenteknoten[row].checked = true;
          this.checkkomponenten(knoten.adjazenteknoten[row], inputcount);
        }
      }
    },

    reload: function() {
      this.$router.push("/?size=" + this.size);
      this.$router.go();
    }
  },

  created() {
    if (this.$route.query.size != undefined) {
      this.size = this.$route.query.size;
    }

    this.adjazenzmatrix = this.creatematrix("adj", this.adjazenzmatrix);
    this.wegmatrix = this.creatematrix("weg", this.wegmatrix);
    this.distanzmatrix = this.creatematrix("dist", this.distanzmatrix);
    this.g_multiply(this.adjazenzmatrix, this.adjazenzmatrix);
    this.fillknoten();
  },

  mounted() {
    var c = document.getElementById("c");
    var ctx = c.getContext("2d");
    this.vueCanvas = ctx;

    if (this.size <= 4) {
      this.h = "160px";
    } else if (this.size <= 6) {
      this.h = "250px";
    } else if (this.size <= 9) {
      this.h = "360px";
    } else if (this.size <= 12) {
      this.h = "480px";
    } else {
      this.h = "650px";
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,600&display=swap");

.v-application {
  font-family: "Fira Sans", sans-serif !important;
}

.v-data-table {
  background-color: #23272a !important;
}

.theme--dark.v-data-table tbody tr:hover:not(.v-data-table__expanded__content) {
  background-color: #23272a !important;
}

h1 {
  color: #eee;
  font-size: 48px;
}

h2 {
  color: #eeeeee;
}

.box {
  width: 100%;
  height: 40px;
  background-color: #23272a;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 5px solid #303437;
  text-align: center;
}

.v-data-table td {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.theme--dark.v-skeleton-loader,
.v-skeleton-loader__list-item-three-line {
  background-color: #23272a !important;
}

.theme--dark.v-skeleton-loader .v-skeleton-loader__text {
  background-color: #303437 !important;
}

.theme--dark.v-skeleton-loader .v-skeleton-loader__bone::after {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.03),
    transparent
  ) !important;
}
</style>
